<!DOCTYPE html>
  <html>
    <head>
      <title>Loan Calculator</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway" rel="stylesheet">
      <link href="/css/styles.css" rel="stylesheet">

    </head>
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>
