<img src="/img/loan.jpg" alt="stamp image" id = "img1">
<div class="creditors">
<h2>Debtors</h2>
<ol>
  <li>
    <p>Debtor: <%= @name %> </p>
    <p>Amount borrowed: <%= @amount %></p>
    <p>Amount to pay: <%= @loan_apply %></p>
  </li>
</ol>


</div>
